<template>
    <div id="app">
        <el-container direction="vertical" style="height: 100%;">
            <el-main style="height: 400px;">
                <router-view />
            </el-main>
            <el-footer v-if="footer">
                <v-menu />
            </el-footer>
        </el-container>
    </div>
</template>

<script>
    import VMenu from '@/components/VMenu.vue';

    export default {
        computed: {
            session() {
                return window.localStorage.getItem('session');
            },

            footer() {
                const { name } = this.$route;
                return name !== 'auth';
            }
        },

        methods: {
            checkUser() {
                // if (!this.session) this.$router.replace('/auth');
                // else this.$store.commit('logIn', { login: this.session });
                this.$router.replace('/auth');
            }
        },

        mounted() {
            this.checkUser();
        },

        components: {
            VMenu
        }
    };
</script>