<template>
    <div class="auth">
        <div class="auth__logo">
            <img src="@/assets/logo-auth.png" alt="">
        </div>

        <form @submit.prevent="onSubmit" class="auth__form">
            <div class="auth__title">
                <img src="@/assets/title.png" alt="">
            </div>
            <div class="auth__tabs">
                <div>Телефон или почта</div>
                <div>СНИЛС</div>
            </div>

            <input ref="login" class="auth__input" type="text" placeholder="Телефон или почта">
            <input ref="pass" class="auth__input" type="password" placeholder="Пароль">

            <button type="submit" class="auth__submit">Войти</button>

            <div class="auth__remmeber">Я не знаю пароль</div>
        </form>

        <footer class="auth__footer">
            <div class="auth__menu">
                <a href="https://www.gosuslugi.ru/help/faq/c-1" class="link">
                    Помощь и поддержка
                </a>
                <a href="/registration/policiesTerms.xhtml" class="link">
                    Условия использования
                </a>
                <a href="/registration/policiesPrivacy.xhtml" class="link">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="auth__copy">
                <img src="@/assets/footer.png" alt="">
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'Auth',

    methods: {
        onSubmit(e) {
            const login = this.$refs.login.value;
            const pass = this.$refs.pass.value;

            if (login === '' || pass === '') {
                alert('Заполнены не все поля');
                return;
            }

            this.$store.commit('logIn', {
                login,
                pass
            });

            window.localStorage.setItem('session', login);

            this.$router.replace('/places');
        }
    }
}
</script>

<style lang="postcss">
    .auth {
        position: relative;
        height: calc(100% + 40px);
        margin: -20px;
        background-color: #f7f9f9;

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;

            img {
                max-width: 195px;
            }
        }

        &__form {
            position: relative;
            padding: 24px;
            background-color: #fff;
        }

        &__title {
            display: flex;
            justify-content: center;
            min-width: 102px;
            padding: 30px 0 35px;

            img {
                width: 65px;
            }
        }

        &__tabs {
            display: flex;
            margin-bottom: 30px;
            font: 700 14px/24px 'Helvetica Neue', helvetica, arial, sans-serif;
            color: #005faf;
            text-transform: uppercase;

            div {
                flex-grow: 1;
                padding-bottom: 10px;
                border-bottom: 1px solid #cdd1d4;

                &:first-child {
                    color: #000;
                    border-bottom: 4px solid #005faf;
                }
            }
        }

        &__input {
            width: 100%;
            height: 48px;
            margin-bottom: 18px;
            padding: 0 15px;
            border: 1px solid #cdd1d4;
            font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
            color: #101010;
            box-sizing: border-box;
        }

        &__submit {
            width: 100%;
            height: 48px;
            margin-top: 30px;
            background: #005faf;
            box-shadow: none;
            border: none;
            border-radius: 3px;
            text-align: center;
            font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
            font-size: 18px;
            color: #fff;
        }

        &__remmeber {
            padding: 17px 0 3px;
            text-align: center;
            font-size: 16px;
            color: #0263b0;
        }

        &__footer {
            margin-top: 50px;
            padding: 0 24px;
            background-color: #e6ecec;
        }

        &__menu {
            padding: 30px 0 18px;
            border-bottom: 1px solid #cdd1d4;

            a {
                display: block;
                margin-bottom: 16px;
                font-size: 14px;
                color: #565656;
                text-align: left;
                text-decoration: none;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__copy {
            img {
                width: 275px;
            }
        }
    }
</style>