<template>
    <div v-if="routeDetails" class="buy">
        <div class="buy__header">
            <router-link :to="'/places/' + $route.params.id">
                <i class="el-icon-close"></i>
            </router-link>
            <span>{{ routeDetails.name }}</span>
        </div>
        <div class="buy__date">
            <el-date-picker
                v-model="dateStart"
                type="date"
                placeholder="Начало"
                format="dd.MM.yyyy"
            />
            <el-date-picker
                v-model="dateEnd"
                type="date"
                placeholder="Конец"
                format="dd.MM.yyyy"
            />
        </div>
        <div class="buy__self">
            <span>Для себя</span>
            <el-switch
                v-model="self"
                active-color="#418392"
            />
        </div>

        <div v-if="self" class="buy__customer --self">
            <div class="buy__form">
                <el-input placeholder="ФИО" v-model="user.fullName" :disabled="true" />
            </div>
            <div class="buy__form --horizontal">
                <el-input placeholder="Серия" v-model="user.serial" :disabled="true" />
                <el-input placeholder="Номер" v-model="user.number" :disabled="true" />
            </div>
        </div>

        <div class="buy__customers">
            <div v-for="(cust, i) in customers" :key="i" class="buy__customer">
                <div class="buy__form --header">
                    <span>Участник {{ i + 1 }}</span>
                    <i @click="removeCustomer(i)" class="el-icon-close"></i>
                </div>
                <div class="buy__form">
                    <el-input placeholder="ФИО" v-model="cust.fullName" />
                </div>
                <div class="buy__form --horizontal">
                    <el-input placeholder="Серия" v-model="cust.serial" />
                    <el-input placeholder="Номер" v-model="cust.number" />
                </div>
            </div>
        </div>

        <div style="margin: 20px 0; text-align: center">
            <el-button @click="addCustomer">Добавить участника</el-button>
        </div>

        <div class="buy__footer" style="min-height: 60px;">
            <div>{{ routeDetails.price * count }} ₽</div>
            <el-button @click="submit" type="success">Купить билеты</el-button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'PlacesBuy',

    data: () => ({
        date: null,
        dateStart: new Date(),
        dateEnd: new Date(),
        self: true,
        customers: []
    }),

    computed: {
        ...mapGetters([
            'user',
            'routeDetails'
        ]),

        count() {
            return this.customers.length + Number(this.self);
        }
    },

    methods: {
        addCustomer() {
            this.customers = [
                ...this.customers,
                {
                    fullName: undefined,
                    serial: undefined,
                    number: undefined
                }
            ];
        },

        removeCustomer(i) {
            this.customers = this.customers.filter((e, k) => k !== i);
        },

        submit() {
            const tickets = [];

            if (this.self) {
                tickets.push(this.parseCustomer({
                    fullName: this.user.fullName,
                    serial: this.user.serial,
                    number: this.user.number
                }));
            }

            this.customers.forEach(e => tickets.push(this.parseCustomer(e)))

            Promise.all(tickets.map(e => this.$store.dispatch('addTicket', e)))
                .then((res) => {
                    this.$message({
                        showClose: true,
                        message: 'Билеты успешно куплены',
                        type: 'success'
                    });

                    setTimeout(() => {
                        this.$router.push('/places');
                    }, 500)
                })
                .catch(err => console.error(err));
        },

        parseCustomer(customer) {
            const { formatNum } = this;
            const dateStart = String(this.dateStart.getFullYear()) + formatNum(String(this.dateStart.getMonth() + 1)) + formatNum(String(this.dateStart.getDate()));
            const dateEnd = String(this.dateEnd.getFullYear()) + formatNum(String(this.dateEnd.getMonth() + 1)) + formatNum(String(this.dateEnd.getDate()));

            return {
                b: dateStart,
                e: dateEnd,
                r: this.routeDetails.name,
                f: customer.fullName,
                p: String(customer.serial) + ' ' + String(customer.number)
            };
        },

        formatNum(num) {
            if (num.length < 2) return '0' + num;
            return num;
        }
    },

    mounted() {
        if (!this.routeDetails) this.$store.dispatch('getRouteDetails', this.$route.params.id);
    }
}
</script>

<style lang="postcss">
.buy {
    text-align: left;

    &__header {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 600;

        i {
            position: relative;
            left: -10px;
            font-size: 24px;
        }
    }

    &__date {
        position: relative;
        display: flex;
        align-items: center;

        .el-date-editor {
            margin: 0 10px;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__self {
        margin: 20px 0;

        .el-switch {
            margin-left: 20px;
        }
    }

    &__form {
        margin-bottom: 20px;

        &.--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.--horizontal {
            display: flex;

            .el-input + .el-input {
                margin-left: 20px;
            }
        }
    }

    &__customer {
        padding: 30px 0;
        border-top: 1px solid #e5e6e6;

        &.--self {
            padding-top: 0;
            border: none;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;

        .el-button.el-button--success {
            height: 48px;
            background-color: #418392;
            border: none;
        }
    }
}
</style>