<template>
    <div v-if="routeDetails" class="place">
        <div class="place__img">
            <img :src="api + '/File/' + routeDetails.file_id" alt="">
        </div>
        <div class="place__num">Маршрут № {{ routeDetails.id }}</div>
        <div class="place__name">{{ routeDetails.name }}</div>
        <div
            :style="{height: expand ? 'auto': '130px'}"
            :class="{'--full': expand}"
            ref="desc"
            class="place__desc"
        >{{ routeDetails.desc }}</div>
        <div v-if="!expand" @click="onExpand" class="place__expand">Читать далее</div>
        <div class="place__bar">
            <div>
                <i class="el-icon-guide"></i>
                {{ routeDetails.distance}}км
            </div>
            <div>
                <i class="el-icon-date"></i>
                {{ routeDetails.duration }}
            </div>
            <div>
                <i class="el-icon-bicycle"></i>
                <span
                    v-for="(routeType, i) in routeDetails.types"
                    :key="routeType.id"
                >
                    {{ routeType.name }}
                    <span v-if="i !== routeDetails.types.length - 1">,&nbsp;</span>
                </span>
            </div>
        </div>
        <div class="place__map">
            <iframe class="mfp-iframe" :src="routeDetails.map + '&amp;layer=true'" frameborder="0" width="100%" height="400" allowfullscreen=""></iframe>
        </div>
        <div class="place__rating">
            <div class="place__subtitle">Отзывы</div>
            <el-rate
                v-model="routeDetails.rating"
                :colors="['#418392', '#418392', '#418392', '#418392', '#418392']"
                disabled
            />
            <span>&nbsp;{{ routeDetails.rating }}</span>
        </div>
        <div class="place__comments">
            <div v-if="dictComments[0]" class="place__comment">
                <div class="place__author">{{ dictComments[0].name }}</div>
                <div>{{ dictComments[0].text}}</div>
            </div>

            <div v-if="!comments && dictComments.length > 1" @click="comments = true" class="place__expand">Читать все отзывы</div>

            <template v-if="comments">
                <div
                    v-for="comment in dictComments.slice(1)"
                    :key="comment.id"
                    class="place__comment"
                >
                    <div class="place__author">{{ comment.name }}</div>
                    <div>{{ comment.text}}</div>
                </div>
            </template>
        </div>
        <div class="place__footer" style="min-height: 60px;">
            <div>{{ routeDetails.price }} ₽ <span style="font-size: 14px; font-weight: 400;">/ с человека</span></div>
            <router-link :to="'/places/' + $route.params.id + '/buy'">
                <el-button type="success">Купить билет</el-button>
            </router-link>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { API } from '@/utils/constants.js';

export default {
    name: 'PlacesItem',

    data: () => ({
        expand: false,
        comments: false
    }),

    computed: {
        ...mapGetters([
            'routeDetails',
            'dictComments'
        ]),

        api() {
            return API;
        }
    },

    methods: {
        onExpand() {
            this.expand = true;
        }
    },

    mounted() {
        this.$store.dispatch('getRouteDetails', this.$route.params.id);
    }
}
</script>

<style lang="postcss">
    .place {
        text-align: left;

        &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin: 10px 0;
            font-size: 18px;
            font-weight: 500;

            .el-button.el-button--success {
                height: 48px;
                background-color: #418392;
                border: none;
            }
        }

        &__img {
            position: relative;
            margin: -20px -20px 0;

            img {
                width: 100%;
            }
        }

        &__num {
            margin: 12px 0;
            font-size: 14px;
            font-weight: 500;
        }

        &__name {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
        }

        &__desc {
            overflow: hidden;
            position: relative;
            height: 130px;

            &.--full {
                &:after {
                    display: none;
                }
            }

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 30px;
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                content: '';
            }
        }

        &__expand {
            margin-top: 5px;
            color: #418392;
        }

        &__bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 56px;
            margin: 20px 0;
            border-top: 1px solid #D3D1D1;
            border-bottom: 1px solid #D3D1D1;

            [class^=el-icon-] {
                margin-right: 10px;
                font-size: 24px;
            }

            div {
                display: flex;
                align-items: center;
            }
        }

        &__map {
            overflow: hidden;
            position: relative;
            height: 310px;

            iframe {
                position: relative;
                top: -92px;
                width: calc(100% + 9px);
                left: -4px;
            }
        }

        &__rating {
            display: flex;
            align-items: center;
            margin: 30px 0 12px;
        }

        &__subtitle {
            margin-right: auto;
            font-size: 16px;
        }
        &__author {
            margin-bottom: 6px;
            font-size: 16px;
            font-weight: 500;
        }
        &__comment {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
</style>