<template>
    <div class="places">
        <router-link
            v-for="item in routes"
            :key="item.id"
            :to="`places/${ item.id }`"
            class="places__item"
        >
            <div class="places__img">
                <img :src="api + '/File/' + item.file_id" alt="">
            </div>
            <div class="places__props">
                <span v-for="(type, i) in item.types" :key="i">
                    <span>{{ type.name }}</span>
                    <span v-if="i !== item.types.length - 1">,&nbsp;</span>
                </span>
                <span class="places__dot" />
                <span>{{ item.distance || 'до 10' }} КМ</span>
            </div>
            <div class="places__name">
                {{ item.name }}
            </div>
            <div class="places__price">
                {{ item.price }} ₽ / с человека
            </div>
            <div class="places__rating">
                <el-rate
                    v-model="item.rating"
                    :colors="['#418392', '#418392', '#418392', '#418392', '#418392']"
                    disabled
                />
                <span>&nbsp;{{ item.count }}</span>
            </div>
        </router-link>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { API } from '@/utils/constants';

export default {
    name: 'Places',

    computed: {
        ...mapGetters(['routes']),

        api() {
            return API;
        }
    },

    methods: {

    },

    mounted() {
        this.$store.dispatch('getRoutes');
    }
}
</script>

<style lang="postcss">
.places {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    margin: 0 -10px;

    &__item {
        position: relative;
        flex-grow: 1;
        display: block;
        width: calc(50% - 20px);
        margin: 10px 10px 10px 10px;
        text-align: left;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        color: #555454;
    }

    &__img {
        overflow: hidden;
        position: relative;
        height: 105px;
        background: rgba(44, 44, 44, 0.3);
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__props {
        padding: 6px 0;
        font-size: 10px;
        font-weight: 600;
        color: #418392;
        text-transform: uppercase;
    }

    &__dot {
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        margin: 0 4px;
        background-color: #418392;
        border-radius: 50%;
    }

    &__price {
        margin: 6px 0;
        font-size: 11px;
        font-weight: 400;
    }

    &__rating {
        display: flex;
        align-items: center;
    }
}
</style>