<template>
    <div v-if="user" class="profile">
        <div class="profile__title">Личный кабинет</div>

        <div><span>Логин: </span>{{ user.login }}</div>
        <div><span>Имя: </span>{{ user.fullName }}</div>
        <div><span>Паспорт: </span>{{ user.serial }} {{ user.number }}</div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Profile',

    computed: {
        ...mapGetters([
            'user'
        ])
    }
}
</script>

<style lang="postcss">
.profile {
    text-align: left;

    > div:not(.profile__title) {
        margin: 10px 0;
        font-size: 16px;
        font-weight: 500;

        > span {
            display: inline-block;
            width: 70px;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__title {
        margin: 0 0 20px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
}
</style>