<template>
    <div v-if="tickets" class="tickets">
        <router-link v-for="ticket in tickets" :key="ticket.id" :to="'/tickets/' + ticket.id" class="tickets__item">
            <span class="tickets__title">{{ ticket.r }}</span>
            <span class="tickets__name">{{ ticket.f }}</span>
            <span class="tickets__dates">
                <span>{{ ticket.b.slice(6) }}.{{ ticket.b.slice(4, 6) }}.{{ ticket.b.slice(0, 4) }}</span>
                <span>&nbsp;-&nbsp;</span>
                <span>{{ ticket.e.slice(6) }}.{{ ticket.e.slice(4, 6) }}.{{ ticket.e.slice(0, 4) }}</span>
            </span>
        </router-link>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Tickets',

    computed: {
        ...mapGetters([
            'tickets'
        ])
    },

    mounted() {
        this.$store.dispatch('getTicket');
    }
}
</script>

<style lang="postcss">
.tickets {
    text-align: left;

    &__item {
        display: block;
        margin: 20px 0;
        padding: 10px;
        background-color: #e6f0f3;
        border-radius: 6px;
        text-decoration: none;
        color: #555454;

        &:first-child {
            margin-top: 0;
        }

        > span {
            display: block;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
    }
    &__name {
        margin-bottom: 10px;
        font-size: 16px;
    }
    &__dates {
        text-align: right;
        font-size: 12px;
    }
}
</style>