<template>
    <div style="position: relative;">
        <router-link :to="'/tickets'" style="position: absolute; top: 0px; left: 0px">
            <i class="el-icon-close" style="font-size: 24px;"></i>
        </router-link>
        <img :src="url" alt="" style="width: 100%;">
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { API } from '@/utils/constants.js';

export default {
    name: 'TicketsItem',

    computed: {
        ...mapGetters([
            'ticketDetails'
        ]),

        url() {
            return process.env.VUE_APP_API + '/api/QRCode/' + this.$route.params.id;
        }
    },

    mounted() {
        this.$store.dispatch('getTicket', this.$route.params.id);
    }
}
</script>