<template>
    <el-menu
        :default-active="active"
        mode="horizontal"
        class="v-menu"
    >
        <el-menu-item index="places">
            <router-link to="/places">
                <i class="el-icon-picture"></i>
                <span>Маршруты</span>
            </router-link>
        </el-menu-item>
        <el-menu-item index="tickets">
            <router-link to="/tickets">
                <i class="el-icon-s-ticket"></i>
                <span>Билеты</span>
            </router-link>
        </el-menu-item>
        <el-menu-item index="profile">
            <router-link to="/profile">
                <i class="el-icon-user-solid"></i>
                <span>Профиль</span>
            </router-link>
        </el-menu-item>
        <!-- <el-menu-item @click="logOut">
            <i class="el-icon-switch-button"></i>
        </el-menu-item> -->
    </el-menu>
</template>

<script>
import { compact } from 'lodash';

export default {
    name: 'VMenu',

    computed: {
        active() {
            return compact(this.$route.path.split('/'))[0] || 'places';
        }
    },

    methods: {
        logOut() {
            this.$store.commit('logOut');
            this.$router.push('/auth');
        }
    }
}
</script>

<style lang="postcss">
    .v-menu {
        display: flex;
        justify-content: space-around;
        /* border-top: 1px solid #e5e6e6; */

        .el-menu-item {
            border: none !important;

            &.is-active {
                color: #418392 !important;
            }

            a {
                display: block;
                height: 60px;
                padding-top: 6px;
                line-height: normal;
                text-decoration: none;
                box-sizing: border-box;
            }

            [class^=el-icon-] {
                font-size: 24px;
            }

            span {
                display: block;
                margin-top: 5px;
            }
        }
    }
</style>